<mat-tab-group #tabs mat-align-tabs="start">
  <mat-tab label="Alquilar Casillero">
    <mat-horizontal-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>Seleccionar un casillero</ng-template>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <!-- descripcion Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Descripcion</th>
              <td mat-cell *matCellDef="let element">
                {{ element.description }}
              </td>
            </ng-container>

            <!-- state Column -->
            <ng-container matColumnDef="free">
              <th mat-header-cell *matHeaderCellDef>Estado Casillero</th>
              <td mat-cell *matCellDef="let element">
                {{ element.free ? "LIBRE" : "OCUPADO" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Seleccionar">
              <th mat-header-cell *matHeaderCellDef>Seleccionar</th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  color="accent"
                  (click)="selectLocker(element)"
                >
                  <mat-icon>check_circle</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Seleccionar un estudiante</ng-template>
        <mat-form-field>
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Buscar"
          />
        </mat-form-field>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSourceStudent">
            <!-- names Column -->
            <ng-container matColumnDef="names">
              <th mat-header-cell *matHeaderCellDef>Nombres</th>
              <td mat-cell *matCellDef="let element">
                {{ element.names }}
              </td>
            </ng-container>

            <!-- lastanames Column -->
            <ng-container matColumnDef="lastnames">
              <th mat-header-cell *matHeaderCellDef>Apellidos</th>
              <td mat-cell *matCellDef="let element">
                {{ element.lastnames }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Seleccionar">
              <th mat-header-cell *matHeaderCellDef>Seleccionar</th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  color="accent"
                  (click)="selectStudent(element)"
                >
                  <mat-icon>check_circle</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsStudent"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumnsStudent"
            ></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Finalizar</ng-template>
        <mat-form-field [hideRequiredMarker]="true">
          <span matPrefix>$ &nbsp;</span>
          <input
            matInput
            placeholder="Ingrese el precio a cancelar"
            name="valor"
            [(ngModel)]="locker.valor"
            #valor="ngModel"
            type="text"
          />
        </mat-form-field>
        <div>
          <button
            mat-stroked-button
            color="primary"
            (click)="guardarAlquiler()"
          >
            Guardar
          </button>
          <button mat-stroked-button color="link" (click)="resetStepper()">
            Cancelar
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-tab>
  <mat-tab label="Casilleros alquilados">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Buscar"
      />
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceAlquiler">
        <!-- casillero Column -->
        <ng-container matColumnDef="casillero">
          <th mat-header-cell *matHeaderCellDef>Casillero</th>
          <td mat-cell *matCellDef="let element">
            {{ element.description }}
          </td>
        </ng-container>

        <!-- estado Column -->
        <ng-container matColumnDef="free">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            {{ element.free ? "LIBRE" : "OCUPADO" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombres">
          <th mat-header-cell *matHeaderCellDef>Nombres</th>
          <td mat-cell *matCellDef="let element">
            {{ element.student.names }}
          </td>
        </ng-container>

        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef>Apellidos</th>
          <td mat-cell *matCellDef="let element">
            {{ element.student.lastnames }}
          </td>
        </ng-container>

        <ng-container matColumnDef="notificar">
          <th mat-header-cell *matHeaderCellDef>
            Notificar retiro de pertenencias personales
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              color="warn"
              (click)="notificar(element)"
              matTooltip="Enviar notificación"
            >
              <mat-icon> contact_mail</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="terminar">
          <th mat-header-cell *matHeaderCellDef>Terminar alquiler</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              color="accent"
              (click)="terminarAlquiler(element)"
            >
              <mat-icon>check_circle</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsAlquiler"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumnsAlquiler"
        ></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>
